/*grid for musicians*/

.first_img_block {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.second_img_block {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.third_img_block {
  display: flex;
  flex-direction: column;
  width: 27%;
}

.fourth_img_block {
  display: flex;
  flex-direction: column;
  width: 27%;
}

#rose {
  width: 45%;
}

.photo_block_2.first_photo {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
}

#didier {
  width: 45%;
}

.photo_block_2.second_photo {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
}

#michael {
  width: 37%;
}

.photo_block_2.third_photo {
  width: 100%;
  height: 0;
  padding-bottom: 130%;
  position: relative;
}

#fred,
#philippe,
#laurence {
  width: 100%;
}

#laurence {
  margin-top: -20%;
}

.photo_block_2.fourth_photo,
.photo_block_2.fifth_photo,
.photo_block_2.sixth_photo,
.photo_block_2.seventh_photo {
  width: 100%;
  height: 0;
  padding-bottom: 140%;
  position: relative;
}

.photo_block_2.first_photo img,
.photo_block_2.second_photo img,
.photo_block_2.third_photo img,
.photo_block_2.fourth_photo img,
.photo_block_2.fifth_photo img,
.photo_block_2.sixth_photo img,
.photo_block_2.seventh_photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
