.bubble {
  position: absolute;
  z-index: 4;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.bubble-content {
  text-align: center;
  color: white;
}
