.homeHeader {
  width: 25%;
  height: 100vh;
  background: linear-gradient(to left, #1f191b, #302829);

  position: fixed;
}

.logo {
  max-width: 100%;
  padding-top: 5%;
}

.headerNav {
  width: 100%;
}

.headerNav > ul {
  width: fit-content;
  margin: auto;
  padding: 30px 0 0 0;
}

.headerNav > ul > li {
  list-style: none;
  padding: 20px 0 0 0;
  transition: all 450ms ease;
}

.headerNav > ul > li:hover {
  transform: translate(15px, 0px);
  transition: all 450ms ease;
}

.headerNav > ul > li > .link_nav {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  border-left: solid #68bd97 2px;
}

.headerNav > ul > li:hover > .link_nav {
  color: #b6e0cd;
}

.photoNav {
  display: none;
  width: 150px;
  padding: 10px 0 10px 0;
}

.photoNav > ul {
  width: fit-content;
  margin: auto;
}

.photoNav > ul > li {
  list-style: disc;
  color: white;
  padding-top: 8px;
}

.photoNav > ul > li > .link_nav {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
}

#photos:hover .photoNav {
  display: block;
  animation: open_nav 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
  transition: all;
}

@keyframes open_nav {
  0% {
    transform: scaleY(0.2);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
