#photo_contain {
  height: auto;
}

.photo_block {
  position: relative;
  flex-direction: column;
  width: 270px;
  height: 380px;
  margin: auto;
  margin-top: 50px;
  background-color: aqua;
  overflow: hidden;
}

.gallery {
  height: 107%;
}
