#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.homeHeader {
  width: 25%;
  height: 100vh;
  background: linear-gradient(to left, #1f191b, #302829);
  position: fixed;
}

.logo {
  max-width: 100%;
  padding-top: 5%;
}

.headerNav {
  width: 100%;
}

.headerNav > ul {
  width: fit-content;
  margin: auto;
  padding: 50px 0 0 0;
}

.headerNav > ul > li {
  list-style: none;
  padding: 20px 0 0 0;
  transition: all 450ms ease;
}

.headerNav > ul > li:hover {
  transform: translate(15px, 0px);
  transition: all 450ms ease;
}

.headerNav > ul > li > a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  border-left: solid #68bd97 2px;
}

.headerNav > ul > li:hover > a {
  color: #b6e0cd;
}

.reading-part {
  width: 75%;
  position: absolute;
  right: 0;
  background-color: #f4f4ed;
}

.description {
  width: 100%;
  height: 500px;
  background-color: #f4f4ed;
}
